// ---------------------------
// Variables globales
// ---------------------------
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$darkgray: #404040;

$font-size-xxlarge: xx-large;
$font-size-large: 3vw;
$font-size-medium: 1.5vw;
$padding-small: 10px;
$padding-large: 20px;
$padding-xxlarge: 30px;
$gap-large: 30px;
$border-radius: 20px;

// ---------------------------
// Mixins
// ---------------------------
@mixin typography($size, $weight: normal, $color: inherit) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin button-style($bg-color, $text-color: $white) {
    cursor: pointer;
    color: $text-color;
    background-color: $bg-color;
    border: none;
    font-weight: bold;
    padding: $padding-small $padding-large;
    border-radius: $border-radius;
}

// ---------------------------
// Styles globaux
// ---------------------------
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Teko';
    font-weight: 100;
}

body {
    margin: auto;
    font-weight: 100;
    width: 60%;
    margin-bottom: $padding-large;
}

h1 {
    @include typography($font-size-xxlarge, 300, $white);
}

h2, label {
    @include typography($font-size-large, 700);
    margin: $padding-large 0;
}

button {
    @include button-style($red);
}

// ---------------------------
// Header
// ---------------------------
header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #61787f;
    border: 1px solid $black;
    padding: $padding-small;
    margin-top: $padding-large;
    align-items: center;
    gap: $padding-large;

    img {
        max-height: 100px;
    }
}

// ---------------------------
// Dropdown
// ---------------------------
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: $padding-small;
    max-width: 250px;
    border: 2px solid $black;
}

.dropdown-button {
    @include typography($font-size-medium, bold, $black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: $padding-small $padding-large;
    background-color: $white;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: $white;
    border: 2px solid $black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;

    .dropdown-item {
        @include typography($font-size-medium, bold);
        padding: $padding-small;
        border-bottom: 1px solid $black;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #ddd;
        }
    }
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $black;
    margin-left: auto;
    right: 0;
}

.dropdown-container {
    display: flex;
    align-items: center;
}


.best-movie {
    border: 5px solid $black;
    padding: $padding-small;

    &__movie {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: $padding-large;
        position: relative;

        h3 {
            @include typography($font-size-large);
        }

        button {
            @include button-style($red);
            position: absolute;
            right: $padding-large;
            bottom: $padding-large;
        }
    }
}

// ---------------------------
// Desktop styles
// ---------------------------
@media screen and (min-width: 1280px) {
    .show-more, .show-less {
        display: none !important;
    }

    .best-movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $gap-large;

        h2 {
            grid-column: 1 / -1;
        }

        &__movie {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }

            div {
                position: absolute;
                top: 10%;
                left: 0;
                width: 100%;
                background-color: rgba(40, 40, 40, 0.4);
                padding: $padding-small;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30%;

                h3 {
                    @include typography($font-size-medium, bold, $white);
                }

                button {
                    @include button-style($darkgray);
                    position: absolute;
                    bottom: $padding-small; // Alignement bas
                    right: $padding-xxlarge; // Alignement à droite
                    padding: $padding-small $padding-large;
                }
            }
        }
    }

    .best-movies__movie {
        display: block !important;
    }

    .modal-window {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-width: 600px;
        height: auto;
        padding: $padding-large;
        background-color: rgba(255, 255, 255, 0.9);
        border: 5px solid $black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0;
        }
    
        .close-button {
            @include button-style($red, $white);
            position: absolute;
            top: $padding-small;
            right: $padding-small;
            font-size: $font-size-medium;
            cursor: pointer;
        }
    }
     
}


// ---------------------------
// Tablet styles
// ---------------------------
@media screen and (min-width: 769px) and (max-width: 1279px) {
    body {
        width: 90%;
    }

    .show-more, .show-less {
        display: flex;
        @include button-style($red);
        padding: $padding-large;
        flex-wrap: wrap;
        justify-self: center;
        justify-content: space-around;
        grid-column: 1 / -1;
        min-width: 50%;
        align-content: center;
    }

    .best-movies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gap-large;

        h2 {
            grid-column: 1 / -1;
        }

        &__movie {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }

            div {
                position: absolute;
                top: 10%;
                left: 0;
                width: 100%;
                background-color: rgba(40, 40, 40, 0.4);
                padding: $padding-small;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30%;

                h3 {
                    @include typography($font-size-xxlarge, bold, $white);
                }

                button {
                    @include button-style($darkgray);
                    position: absolute;
                    bottom: $padding-small; // Alignement bas
                    right: $padding-xxlarge; // Alignement à droite
                    padding: $padding-small $padding-large;
                }
            }
        }
    }

    .best-movies__movie {
        &:nth-child(n+5) {
            display: none;
        }
        &:nth-child(-n+4) {
            display: block;
        }
    }
}

// ---------------------------
// Mobile styles
// ---------------------------
@media screen and (max-width: 768px) {
    body {
        width: 90%;
    }

    h1 {
        display: none;
    }

    h2, label {
        font-size: xx-large;
    }

    header {
        grid-template-columns: 1fr;
        justify-content: center;

        img {
            max-height: 100px;
            margin: 0 auto;
        }
    }

    .dropdown-button {
        @include typography($font-size-large, bold);
    }

    .dropdown-menu {
        .dropdown-item {
            @include typography($font-size-large, bold);
        }
    }

    .best-movie {
        border: 5px solid $black;
        padding: $padding-small;

        &__movie {
            display: grid;
            grid-template-rows: auto;
            gap: $padding-large;

            img {
                grid-column: 1 / -1;
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }

            h3 {
                font-size: xx-large;
            }

            div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                h3, p {
                    grid-column: 1 / -1;
                }

                button {
                    @include button-style($red);
                    grid-column: 2 / 3;
                }
            }
        }
    }

    .best-movies {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap-large;

        h2 {
            grid-column: 1 / -1;
        }

        &__movie {
            position: relative;
            overflow: hidden;

            &:nth-child(n+3) {
                display: none;
            }
            &:nth-child(-n+2) {
                display: block;
            }

            img {
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }

            div {
                position: absolute;
                top: 10%;
                left: 0;
                width: 100%;
                background-color: rgba(40, 40, 40, 0.4);
                padding: $padding-small;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30%;

                h3 {
                    @include typography($font-size-xxlarge, bold, $white);
                }

                button {
                    @include button-style($darkgray);
                    position: absolute;
                    bottom: $padding-small; // Alignement bas
                    right: $padding-xxlarge; // Alignement à droite
                    padding: $padding-small $padding-large;
                }
            }
        }

        .show-more, .show-less {
            display: flex;
            @include button-style($red);
            padding: $padding-large;
            flex-wrap: wrap;
            justify-self: center;
            justify-content: space-around;
            grid-column: 1 / -1;
            min-width: 50%;
            align-content: center;
        }
    }
}

.best-movies__movie {
    display: none;

    &.visible {
        display: flex;
    }

    &.hidden {
        display: none;
    }
}
