@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Teko";
  font-weight: 100;
}

body {
  margin: auto;
  font-weight: 100;
  width: 60%;
  margin-bottom: 20px;
}

h1 {
  font-size: xx-large;
  font-weight: 300;
  color: #ffffff;
}

h2, label {
  font-size: 3vw;
  font-weight: 700;
  color: inherit;
  margin: 20px 0;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #61787f;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
}
header img {
  max-height: 100px;
}

/* Liste Déroulante */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 250px;
  border: 2px solid #000000;
}

.dropdown-button {
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.dropdown-menu .dropdown-item {
  font-size: 1.5vw;
  font-weight: bold;
  color: inherit;
  padding: 10px;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}
.dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #ddd;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000000;
  margin-left: auto;
}

/* Affichage des films */
.best-movie {
  border: 5px solid #000000;
  padding: 10px;
}
.best-movie__movie {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  position: relative;
}
.best-movie__movie h3 {
  font-size: 3vw;
  font-weight: normal;
  color: inherit;
}
.best-movie__movie button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 20px 20px;
}

.best-movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.best-movies h2 {
  grid-column: 1/-1;
}
.best-movies__movie {
  position: relative;
  overflow: hidden;
}
.best-movies__movie img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.best-movies__movie div {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.4);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}
.best-movies__movie div h3 {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
}
.best-movies__movie div button {
  cursor: pointer;
  color: #ffffff;
  background-color: #404040;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  padding: 10px 10px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

/*# sourceMappingURL=styles.css.map */
